<h2>About Qualiflower</h2>

<p>Qualiflower was built to aid people in their search for further education. Having spent a considerable amount of time searching for courses prior to leaving the Armed Forces, I realised how difficult it was to find a single place where I could compare and contrast courses against each other.</p>

<p>It's my hope that through the use of Qualiflower you can find the ideal route for you for the perfect career, or whatever else you want to do with anything you get from it.</p>