<section id="section1" class="padding-bottom-0">
    <div class="container">
         <h1 class="text-left v-center">Welcome to Qualiflower!</h1>
         <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-10 offset-sm-2 text-left">
                        <img src="https://www.jisc.ac.uk/sites/default/files/e-learning_project.jpg" class="img-responsive img-thumbnail" alt="Classroom">
                    </div>

                    <div class="col-md-10 offset-sm-2 text-left">
                        <h3>A World of Courses</h3>
                        <p>Here you can find information on all sorts of courses that you might want to do. Use the menu at the top of the page to have a look around and find what you're looking for.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Generic Qualiflower -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-1384230975173310"
                         data-ad-slot="7616144233"
                         data-ad-format="auto"></ins>
                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-10 offset-sm-2 text-center">
                        <h3>Courses</h3>
                        <p>There is other content and snippets of details or features that can be
                            placed here..</p><i class="fa fa-book fa-5x"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="row">
                    <div class="col-md-10 offset-sm-1 text-center">
                        <h3>Schools</h3>
                        <p>You may also want to create content that compells users to scroll down
                            more..</p><i class="fa fa-mortar-board fa-5x"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="row">
                    <div class="col-md-10 text-center">
                        <h3>Careers</h3>
                        <p>In the first 30 seconds of a user's visit to your site they decide if
                            they're going to stay..</p><i class="fa fa-suitcase fa-5x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/container-->
    <br />
    <img src="//placehold.it/1024x700" class="img-fluid mx-auto" title="centered image"
    />
</section>
<section id="section2">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-sm-2 text-center">
                 <h1>Section 2</h1>
                <br />
                <p class="lead">Bootstrap is a free collection of tools for creating websites and web
                    applications. It contains HTML and CSS-based design templates for typography,
                    forms, buttons, navigation and other interface components, as card bg-faded
                    card-block as optional JavaScript components.</p>
            </div>
        </div>
    </div>
    <!--/container-->
</section>
<section id="section3">
    <div class="container">
          <h1 class="text-center">Section 3</h1>
        <div class="row">
            <div class="col-md-6 offset-sm-3">
                <p class="text-center lead">Vertical scrolling has become a popular and lasting trend in Web design.
                    The question becomes, is it here to stay?</p>
                <div class="row">
                    <div class="col-xs-6">Some brand-tacular designs even have home page content that is taller
                        that 12,000 pixels. That's a lotta content.</div>
                    <div class="col-xs-6 text-right">Anyhoo, this is just some random blurb of text, and Bootply.com is a playground
                        and code editor for Bootstrap.</div>
                </div>
            </div>
        </div>
    </div>
    <!--/container-->
</section>
<section id="section4">
    <div class="container">
          <h2 class="text-center">Section 4</h2>
        <div class="row">
            <div class="col-md-8 offset-sm-2">
                <img src="//placehold.it/1024x700" class="img-fluid mx-auto" title="centered image"
                />
                <p class="text-center">Images will scale down proportionately as browser width narrows.</p>
            </div>
        </div>
    </div>
    <!--/container-->
</section>
<section id="section5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="list-group"> <a href="#" class="list-group-item">

                <h2 class="list-group-item-heading">Basic</h2>

                <h6>Free to get started</h6>

              </a>
 <a href="#" class="list-group-item">

                <p class="list-group-item-text">Option 100 - more about this</p>

              </a>
 <a href="#" class="list-group-item">

                <p class="list-group-item-text">Option 2 - this is more about this</p>

              </a>
 <a href="#" class="list-group-item">

                <p class="list-group-item-text">Option 3 GB</p>

              </a>
 <a href="#" class="list-group-item">

                <p class="list-group-item-text">Option 4</p>

              </a>
 <a href="#" class="list-group-item">

                <p class="list-group-item-text">Feature</p>

              </a>
 <a href="#" class="list-group-item">

                <p class="list-group-item-text">Feature</p>

              </a>
 <a href="#" class="list-group-item">

                <button class="btn btn-secondary btn-lg btn-block">Get Started</button>

              </a>
                </div>
            </div>
            <!--/left-->
            <div class="col-md-4 col-xs-12">
                <div class="list-group text-center"> <a href="#" class="list-group-item">

                <h2 class="list-group-item-heading">Better</h2>

                <h6>Most popular plan</h6>

              </a>
 <a href="#" class="list-group-item">

                <p class="list-group-item-text">Option 200 - more about this</p>

              </a>
 <a href="#" class="list-group-item">

                <p class="list-group-item-text">Option 2 - this is more about this</p>

              </a>
 <a href="#" class="list-group-item">

                <p class="list-group-item-text">Option 5 GB</p>

              </a>
 <a href="#" class="list-group-item">

                <p class="list-group-item-text">Option 6</p>

              </a>
 <a href="#" class="list-group-item">

                <p class="list-group-item-text">Feature</p>

              </a>
 <a href="#" class="list-group-item">

                <p class="list-group-item-text">Feature</p>

              </a>
 <a href="#" class="list-group-item">

                <button class="btn btn-secondary btn-lg btn-block">$10 per month</button>

              </a>
                </div>
            </div>
            <!--/middle-->
            <div class="col-md-4 col-xs-12">
                <div class="list-group text-right"> <a href="#" class="list-group-item">

                <h2 class="list-group-item-heading">Best</h2>

                <h6>For enterprise grade</h6>

              </a>
 <a href="#" class="list-group-item">

                <p class="list-group-item-text">Option 100 - more about this</p>

              </a>
 <a href="#" class="list-group-item">

                <p class="list-group-item-text">Option 2 - this is more about this</p>

              </a>
 <a href="#" class="list-group-item">

                <p class="list-group-item-text">Option 8 GB</p>

              </a>
 <a href="#" class="list-group-item">

                <p class="list-group-item-text">Option 10</p>

              </a>
 <a href="#" class="list-group-item">

                <p class="list-group-item-text">Unlimited</p>

              </a>
 <a href="#" class="list-group-item">

                <p class="list-group-item-text">Unlimited</p>

              </a>
 <a href="#" class="list-group-item">

                <button class="btn btn-secondary btn-lg btn-block">$20 per month</button>

              </a>
                </div>
            </div>
            <!--/right-->
        </div>
        <!--/row-->
    </div>
    <!--/container-->
</section>
<section id="section6">
    <div class="container">
          <h2 class="text-center">Section 6</h2>
        <p class="text-center lead">Add some compelling information here</p>
    </div>
    <!--/container-->
</section>
<section id="section7">
    <div class="container">
         <h1 class="text-center">Section 7</h1>
        <div class="row">
            <div class="col-md-1 offset-sm-2 col-xs-4 text-center"> <i class="fa fa-github fa-4x"></i>
            </div>
            <div class="col-md-1 col-xs-4 text-center"> <i class="fa fa-foursquare fa-4x"></i>
            </div>
            <div class="col-md-1 col-xs-4 text-center"> <i class="fa fa-facebook fa-4x"></i>
            </div>
            <div class="col-md-1 col-xs-4 text-center"> <i class="fa fa-pinterest fa-4x"></i>
            </div>
            <div class="col-md-1 col-xs-4 text-center"> <i class="fa fa-google-plus fa-4x"></i>
            </div>
            <div class="col-md-1 col-xs-4 text-center"> <i class="fa fa-twitter fa-4x"></i>
            </div>
            <div class="col-md-1 col-xs-4 text-center"> <i class="fa fa-dribbble fa-4x"></i>
            </div>
            <div class="col-md-1 col-xs-4 text-center"> <i class="fa fa-instagram fa-4x"></i>
            </div>
        </div>
        <!--/row-->
    </div>
    <!--/container-->
</section>