<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-6 col-lg-3 column">
                 <h4>Information</h4>
                 <nav class="nav flex-column text-left">
                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link" href="/pages/about">About</a>
                    <a class="nav-link" href="/pages/contact">Contact</a>
                    <a class="nav-link" href="#">Developers</a>
                 </nav>
            </div>
            <div class="col-xs-6 col-lg-3 column">
                 <h4>Follow Us</h4>
                 <nav class="nav flex-column">
                    <a class="nav-link" href="#">Twitter</a>
                    <a class="nav-link" href="#">Facebook</a>
                    <a class="nav-link" href="#">Google+</a>
                    <a class="nav-link" href="#">Pinterest</a>
                 </nav>
            </div>
            <div class="col-xs-6 col-lg-3 column">
                 <h4>Contact Us</h4>
                 <nav class="nav flex-column">
                    <a class="nav-link" href="#">Email</a>
                    <a class="nav-link" href="#">Headquarters</a>
                    <a class="nav-link" href="#">Management</a>
                    <a class="nav-link" href="#">Support</a>
                 </nav>
            </div>
            <div class="col-xs-6 col-lg-3 column">
                 <h4>Customer Service</h4>
                 <nav class="nav flex-column">
                    <a class="nav-link" href="#">About Us</a>
                    <a class="nav-link" href="#">Delivery Information</a>
                    <a class="nav-link" href="#">Privacy Policy</a>
                    <a class="nav-link" href="#">Terms &amp; Conditions</a>
                 </nav>
            </div>
        </div>
        <!--/row-->
    </div>
  </footer>